name: PR integration

on:
  pull_request:
    branches:
      - develop
      - master

jobs:
  version:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: checkout code repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
        with:
          version: 8

      - name: setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "pnpm"

      - name: install dependencies
        run: pnpm install

      - name: check formatting
        run: pnpm format:check

      - name: run tests
        run: pnpm test
